/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

.page {
  block-size: auto;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--text-line-heigh);
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}



.header {
  padding: 10px;
  block-size: 100vh;
  inline-size: 100%;
  display: grid;
  grid-template-rows: auto;
}

.decorated-zone {
  position: relative;
  margin: 0;
  height: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--title-color);
  border-bottom: 1px solid var(--title-color);
}

.dark__theme__indicator {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--title-color);
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  gap: 3px;
}

.dark__theme__indicator-image {
  block-size: 25px;
  inline-size: 25px;
  object-fit: contain;
  object-position: center;
}

.header__theme-menu {
  margin-block-start: 9.7vh;
  margin-block-end: 1.5vh;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 9.5px;
  justify-content: end;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
  padding-block-start: 1px;
  padding-block-end: 4px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  line-height: var(--theme-button-line-height);
  color: var(--title-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.main__title {
  font-size: var(--main-title-font-size);
  font-weight: bold;
  line-height: var(--title-line-height);
  text-shadow: 4px 4px 0 var(--main-title-shaddow-color);
  color: var(--main-title-color);
}

.text__header {
  block-size: min-content;
  font-weight: bold;
  color: var(--accent-text-color);
  max-inline-size: 364px;
}

.title-decor {
  background-color: var(--accent-color);
  line-height: var(--text-line-height);
  margin-block-start: 0vh;

}

.main {
  display: grid;
  gap: 50px;
  margin-block: 40px;
}

.section {
  padding-inline: 10px;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.title__accent-color {
  font-size: var(--font-size);
  color: var(--title-color);
  line-height: var(--text-line-height);
  font-weight: bold;
}

.title__accent-bg {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  color: var(--accent-text-color);
  line-height: var(--text-line-height);
  margin-block-start: 10px;
  font-weight: bold;
}

.text__main {
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: var(--text-line-height);
  font-weight: normal;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--main-title-shaddow-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid currentColor;
}

.text__link:hover {
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

.text__normal {
  font-weight: normal;
}

.title__accent-bg__no-margin {
  margin-block-start: 0;
}

.images {
  inline-size: 100%;
  block-size: auto;
}

footer {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-title-shaddow-color);
  inline-size: 100%;
}

@media (768px <= width) {

  .header {
    padding: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .dark__theme__indicator {
    top: 20px;
    right: 20px;
  }

  .main__title {
    margin-inline-start: -20px;
  }

  .header__theme-menu {
    margin-block-start: 16.7vh;
    margin-block-end: 1vh;
  }

  .text__header {
    justify-self: end;
    margin-block-start: 0;
  }
 
  .main {
    margin-block: 60px;
    gap: 80px;
  }

  .section {
    padding-inline: 20px;
  }

  .grid__columns {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 20px;
    align-items: first baseline;
   }

  .title__accent-bg__no-margin-top {
    margin: 0;
  }

  .change__margin {
    margin: 0;
  }

  .title__medium-width__columns-top {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .grid__rows {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
  }

  .grid__rows > h2 {
    padding-block-end: 10px;
  }

  .medium-width__rows {
    grid-column: 1/3;
  }


  .title__medium-width__columns-bottom {
    grid-column: 1/2;
    grid-row: 1/12;
  }
  
  .title__medium-width__columns-bottom + h3 {
    margin: 0;
  }


  .section__images {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }
  
  .title__grid-position {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 2/3;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
    align-self: flex-end;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 3/5;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }

  .books {
    grid-column: 2/3;
    grid-row: 3/4;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }

  .street {
    grid-column: 2/4;
    grid-row: 4/5;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }
  .footer {
    height: 100vh;
    padding: 20px;
  }

  .footer__title {
    margin-block-end: 0;
    margin-inline-start: 0;
  }
}

@media (1024px <= width) {
  :root {
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__title {
    margin-inline-start: -20px;
  }

  .header__theme-menu {
    margin-block-start: 0;
    margin-block-end: 20.5vh;
  }

  .header__theme-menu-list {
    grid-template-rows: 1fr;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
  }

  .text__header {
    max-inline-size: 491px;
    margin-block-start: 0;
    justify-self: end;
  }

  .grid__columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 10px;
  }

  .title__medium-width__columns-top {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .title__accent-bg__no-margin-top {
    margin-block-start: 0;
  }

  .title__accent-bg__no-margin-bottom {
    margin-block-start: 0;
  }

  .grid__rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 10px 20px;
  }


  .grid__rows .title__accent-bg {
    margin-block-start: 0;
  }
  
  .grid__rows > h2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .left__block {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .left__block-text {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .center__block {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .center__block-text {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .right__block {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .right__block-text {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .title__medium-width__columns-bottom {
    grid-column: 1/2;
    grid-row: 1/12;
  }

  .footer__title {
    margin-inline-start: 0;
  }

}